<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user1.recipelist">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.RecipesList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Steps"
            android:label="@string/steps_name"
            android:parentActivityName=".Activities.RecipesList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.RecipesList" />
        </activity>
        <activity
            android:name=".Activities.SingleStep"
            android:label="@string/steps_name"
            android:parentActivityName=".Activities.Steps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Steps" />
        </activity>

        <provider
            android:name=".ContentProvider.RecipeProvider"
            android:authorities="com.example.user1.recipelist"
            android:exported="false" />

        <receiver android:name=".Widget.IngredientListWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ingredient_list_widget_info" />
        </receiver>
        <service android:name=".Widget.WidgetService"
            android:enabled="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>